 body{
 	margin: 0;
 }
 
 #keyboard{
 	height: 100px;
 	width: 100%;
 }
 
 .whitekey, .blackkey{
 	display: inline-block;
 	float: left;
 	cursor: pointer;
 }
 
 .whitekey{
  	height: 100%;
  	width: 14%;
  	border: 1px black solid;
  	border-left: none;
 }
 
 .whitekey:hover{
 	background: rgb(245,245,245);
 }
 
 .blackkey{
 
 }
