 body.ui-overlay-a{
 	margin: 0;
 }
 
 .hidden{
 	display: none;
 }
 
 .ui-page.ui-page-theme-a.ui-page-active{
 	height: 100%;
 }
 
 #main-container{
 	min-height: 100%;
 	width: 100%;
 	color: white;
 	background: url("http://www.michalpaszkiewicz.co.uk/MusicSite/background.PNG");
 } 
 
 #keyboard{
 	height: 180px;
 	width: 100%;
 	position: relative;
 }
 
 #whole-keyboard{
 	position: relative;
	margin: 10px;
 	height: 35px;
 }
 
.octave{
	display: inline-block;
	position: relative;
	width: 22%;
	height: 100%;
}

.octave.selected{
	border: 3px solid red;
	border-radius: 5px;
}
 
 .whitekey, .blackkey{
 	display: inline-block;
 	cursor: pointer;
 	border-radius: 0 0 10px 10px;
 }
 
 .whitekey{
  	height: 100%;
  	width: 12%;
  	background: white;
  	border: 1px black solid;
  	border-left: none;
  	z-index: 100;
  	color: black;
	font-size: 20px;
	text-align: center;
	line-height: 180px;
 }
 
 .whitekey:hover{
 	background: rgb(230,230,230);
 }
 
 .blackkey{
 	position: absolute;
 	height: 60%;
	width: 9%;
	z-index: 1000;
	margin-left: -4.5%;
	background: black;
	color: white;
	font-size: 20px;
	text-align: center;
	line-height: 100px;
	box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.6);
 }

.blackkey:hover{
	background: rgb(70, 70, 70);
	box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.4);
}

.game-container{
	margin-top:15px;
	width: 100%;
	height: 100px;
	background: url("gamebackground.png");// rgb(255, 251, 233);
}

.scoreBoard{
	position: absolute;
	top: 20px;
	font-size: 53px;
	margin-top: 17px;
	opacity: 0.2;
}

.settings-container{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 50000;
}

.settings-box{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 230px;
	width: 90%;
	max-width: 600px;
	background: black;
	margin: auto;
	border-radius: 10px;
	box-shadow: 0 0 14px 0px black;
	padding: 10px;
	color: white;
	z-index: 200000;
	text-align: center;
	font-size: 20px;
}

.settings-cover{
	background: white;
	z-index: 100000;
	opacity: 0.9;
	height: 100%;
	width: 100%;
}

.level{
	display: inline-block;
}

.clearfix{
	clear:both;
}

.push{
	//height: 200px;
}
